
<!-- <div class="row" style="margin-top: 100px;"> -->
<div class="col thirteen last push_three">

<!--	<h2 class="dmb">Login</h2>  -->

<div class="row"><div class="col-md-12">&nbsp;</div></div>

	{{#msg_body}}
        {{> message-insert }}
        <div class="row"><div class="col-md-12">&nbsp;</div></div>
	{{/msg_body}}

	<form action="/login" method="POST">

        <div class="form-row">
            <div class="col-md-3">&nbsp;</div>
            <div class="form-group col-md-6">
                <input type="text" class="form-control" id="email" name="email" placeholder="Email/Username">
            </div>
            <div class="col-md-3">&nbsp;</div>
        </div>

        <div class="form-row">
            <div class="col-md-3">&nbsp;</div>
            <div class="form-group col-md-6">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <div class="col-md-3">&nbsp;</div>
        </div>

        <div class="form-row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-2"><button type="submit" class="btn btn-primary">Login</button></div>
            <div class="col-md-2"><a href="/" class="btn">Cancel</a></div>
            <div class="col-md-2"><a href="/forgotpassword" class="btn">Forgot Password?</a></div>
            <div class="col-md-3">&nbsp;</div>
        </div>
        
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        
        {{#sourcePage}}
            <input type="hidden" name="sourcePage" value="{{sourcePage}}">
        {{/sourcePage}}
        
    </form>

<div class="row"><div class="col-md-12">&nbsp;</div></div>

</div>

<!-- </div> -->
