{{> admin.header }}

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      {{#retailers}}
        {{^is_suspended}}
            <div class="form-row">
        {{/is_suspended}}
        {{#is_suspended}}
            <div class="form-row form-control is-invalid">
        {{/is_suspended}}
        <a class="page-link col-md-6" href="/retailer/{{country_id}}/{{id}}">{{name}}</a>
        <span class="col col-md-2 align-items-center">Code: {{retailer_code}}</span>
            {{#is_verified}}
            <span class="col col-md-2 align-items-center">Verified: Yes</span>
            {{/is_verified}}
            {{^is_verified}}
            <span class="col col-md-2 form-control is-invalid align-items-center">Verified: NO</span>
            {{/is_verified}}
        </div>
            {{^is_suspended}}
                <div class="form-row">
            {{/is_suspended}}
            {{#is_suspended}}
                <div class="form-row form-control is-invalid">
            {{/is_suspended}}
            <span class="col col-md-1 align-items-center">&nbsp;</span>
            <span class="col col-md-8 align-items-center">addresses: {{address_count}}&nbsp;&nbsp;&nbsp;&nbsp;terminals: {{terminal_count}}</span>
            <span class="col col-md-1 align-items-center">&nbsp;</span>
            </div>
      {{/retailers}}

{{> admin.footer }}
