
            <div class="row">
                <div class="col sixteen first">
                    &copy; Bucket Technologies, Inc.  2018
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/assets/js/plugins.min.js"></script>
<script src="/assets/js/scripts.js"></script>

</body>
</html>
