/* CSS Document */
html,
body,
.view {
    min-height: 100%;
}

.view {
    background: url("/images/rainbow-watercolor-background.jpg")no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.top-buffer { 
	margin-top:250px; 
}


.ccx-list-group-item > .badge {
  float: right;
}
.ccx-list-group-item > .badge + .badge {
  margin-right: 5px;
}





.ccx-jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
}
.ccx-jumbotron h1,
.ccx-jumbotron .h1 {
  color: inherit;
}
.ccx-jumbotron p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}
.container .ccx-jumbotron,
.container-fluid .ccx-jumbotron {
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 6px;
}
.ccx-jumbotron .container {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .ccx-jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .container .ccx-jumbotron,
  .container-fluid .ccx-jumbotron {
    padding-right: 60px;
    padding-left: 60px;
  }
  .ccx-jumbotron h1,
  .ccx-jumbotron .h1 {
    font-size: 63px;
  }
}
