{
    "note": "This configuration file will overwrite environment variables.  Omit tags in this file that are not needed.  Copy this sample and remove tags or sections that are not needed.  You must have properly formatted JSON for this document.  There are no specific warnings that the JSON values were not used.",
    "aws": {
        "AWS_FILE_URL": "https://s3.amazonaws.com/<~main bucket~>/"
    },
    "localfiles": {
        "note": "These variables describe the path on the local filesystem for the files.  The local filesystem may connect to AWS S3 using fuse.  The files are expected to end up on AWS S3 for use on the mobile devices.",
        "LOCAL_FILE_PATH": "./files",
        "LOCAL_FILE_PATH_LOGS": "./logs"
    },
    "database": {
        "note": "The database fields provide connection information to the postgres database.  When developing on OSX and using Docker as the linux test, you may use the special DNS resolution for OSX localhost.  Thus DNS entry is: docker.for.mac.localhost",
        "DB_HOSTNAME": "127.0.0.1",
        "DB_USERNAME": "db_username",
        "DB_PASSWORD": "db_password",
        "DB_DATABASE": "db_daterbase",
        "DB_PORT"    : 5432
    },
    "url": {
        "note": "These variables are used to build the URL string for the web based path.  It may be the same as the API, but we split them out for more flexibility.",
        "URL_PROTOCOL": "http",
        "URL_DOMAIN"  : "localhost",
        "URL_PORT"    : 8080
    },
    "api": {
        "note": "These variables are used to build the URL string for the API path.  It may be the same as the web, but we split them out for more flexibility.",
        "API_DOMAIN"      : "localhost",
        "API_URL_PROTOCOL": "http",
        "API_URL_PORT"    : 8080
    },
    "email": {
        "note": "This section allows you to connect ot your email server.",
        "EMAIL_SERVER"           : "localhost",
        "EMAIL_USERNAME"         : "http",
        "EMAIL_PASSWORD"         : "password",
        "EMAIL_FROM_ADDRESS"     : "email@test.com",
        "EMAIL_FROM_DISPLAY_NAME": "Mobile Project"
    },
    "misc": {
        "note": "These are miscellaneous variables.  The StORM varible determines if StORM transactions are written to a log file.  The server environment may be either PROD for production or DEV for development.  New environments may be added in the future.  The session name is used for cookie authentication.  The HTTP document root is the place where templates and other web based content is stored. This directory is standard and is generally not changed.  The variable SERVER_PUBLIC_URL is used to create links for consumers.",
        "STORM_DEBUG"       : false,
        "SERVER_ENVIRONMENT": "DEV",
        "SESSION_NAME"      : "session",
        "HTTP_DOCUMENT_ROOT": "./webroot",
        "SERVER_1_ON_START" :false,
        "SERVER_2_ON_START" :false,
        "SERVER_PUBLIC_URL" : "http://localhost:9000/"
    },
    "services" : {
        "service1": {
            "name": "Stages Flight",
            "service_id": 1,
            "note": "Technical details from rides and such. It is important to have each service named differently (ie: service1)",
            "servers": {
                "server1": {
                    "server_id": 1,
                    "name":"U Street Stages",
                    "note":"This is the U Street location and is marked by the id of 1. It is important to have each server named differently (ie: server1)",
                    "url":"",
                    "username":"",
                    "password":"",
                    "location_service_id":""
                },
                "server2": {
                    "server_id": 2,
                    "name":"Cap Hill Stages",
                    "note":"This is the CapHill location and is marked by the id of 2. It is important to have each server named differently (ie: server2)",
                    "url":"",
                    "username":"",
                    "password":"",
                    "location_service_id":""
                }
            }
        },
        "service2" : {
            "name": "MindBody",
            "service_id": 2,
            "note": "Scheduling and payment service noted by the id of 2. It is important to have each service named differently (ie: service2)",
            "servers": {
                "server1": {
                    "server_id": 1,
                    "name":"U Street MindBody",
                    "note":"This is the U Street location and is marked by the id of 1. It is important to have each server named differently (ie: server1)",
                    "url":"",
                    "username":"",
                    "password":"",
                    "location_service_id":"",
                    "api_key":""
                },
                "server2": {
                    "server_id": 2,
                    "name":"Cap Hill MindBody",
                    "note":"This is the CapHill location and is marked by the id of 2. It is important to have each server named differently (ie: server2)",
                    "url":"",
                    "username":"",
                    "password":"",
                    "location_service_id":"",
                    "api_key":""
                }
            }
        }
    }
}

